---
layout: page
title: About
---

<h1> About Aeolus </h1>

<div class="section-grouping">

{% capture aeolus_mission %}
  {%include about/aeolus_mission.md %}
{% endcapture %}

{{ aeolus_mission | markdownify }}

</div>
<br />

<div class="section-grouping">
{% capture what_is_aeolus %}
  {% include about/what_is_aeolus.md %}
{% endcapture %}

{{ what_is_aeolus | markdownify }}

</div>
<br />

<div class="section-grouping">

{% capture aeolus_components %}
  {% include about/aeolus_components.md %}
{% endcapture %}

{{ aeolus_components | markdownify }}

</div>
<br />

<div class="section-grouping">
{% capture aeolus_is_not %}
  {% include about/aeolus_is_not.md %}
{% endcapture %}

{{ aeolus_is_not | markdownify }}

</div>

<br/>
        <a class='button' href='screenshots.html'>
          Screenshots
          <img alt='→' src='images/button-right.png' />
        </a>
</div>

