---
title: "Home"
layout: main
---
<!-- Start index -->
    <div id='front-page-main-upper'>
      <hr class='shade' />
      <div class='container_24'>
        <div class='grid_8'>
          <img alt='AEOLUS' class='logo' src='images/logo-frontpage.png' />
        </div>
        <div class='grid_16'>
          <h1>
            Aeolus
            <sup>TM</sup>
          </h1>
          <h2>
            Hybrid clouds made simple, <strong>free</strong>, and resilient.
          </h2>
          <div class='frontpagebuttons'>
            <a class='button' href='about.html'>
              Read More
              <img alt='→' src='images/button-right.png' />
            </a>
            <a class='button' href='get_it.html'>
              Get Aeolus
              <img alt='v' src='images/button-down.png' />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class='container_24 clearfix' id='front-page-main-lower'>
      <div class='grid_24'>
        <div id='what'>
          <h1>
            <a href='about.html' style='color: #007EB5; text-decoration: none'>What is Aeolus?</a>
          </h1>
          <p>
            Aeolus is a suite of open-source tools to help you build a custom cloud from both public and private resources. Leverage multiple clouds to provide a single integrated solution, seamlessly providing cloud infrastructure to meet your needs.
          </p>
          <p>
            Our users use Aeolus for resiliency against a cloud provider's outage, for intelligently
            launching instances on the optimal cloud, and to define permissions for cloud resources.
            They all benefit from a single interface to multiple cloud providers, forming a hybrid
            cloud.
          </p>
          <a class='button small' href='about.html' id="learn-more-button">
            Learn More &#x21e2;
          </a>
        </div>
      </div>
      <div class='grid_12' id='rss_widget'>
        <h1>
          <a href='http://blog.aeolusproject.org' style='color: #007EB5; text-decoration: none'>News</a>
        </h1>
        <div id="divRss"></div>
        <script src='js/jquery-FeedEk.js' type='text/javascript'></script>
        <script type='text/javascript'>
        {% include blogroll_feed.js %}
        </script>
      </div>
      <div class='grid_12' id='twitter_widget'>
       <br />
        <script src='http://widgets.twimg.com/j/2/widget.js'></script>
        <script type='text/javascript'>
        {% include twitter.js %}
        </script>
        <br />
      </div>
    </div>
