---
title: index
layout: main
---
<!-- Start index -->
    <div id='front-page-main-upper'>
      <hr class='shade' />
      <div class='container_24'>
        <div class='grid_8'>
          <img alt='AEOLUS' class='logo' src='images/logo-frontpage.png' />
        </div>
        <div class='grid_16'>
          <h1>
            Aeolus
            <sup>TM</sup>
          </h1>
          <h2>
            Meet the world's best cloud management software, <strong>and it's free.</strong>
          </h2>
          <div class='frontpagebuttons'>
            <a class='button' href='projects.html'>
              Learn More
              <img alt='→' src='projects.html' />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class='container_24 clearfix' id='front-page-main-lower'>
      <div class='grid_8'>
        <div id='what'>
          <h1>
            <a href='about.html' style='color: #007EB5; text-decoration: none'>What is Aeolus?</a>
          </h1>
          <p>
            Aeolus is software for running virtual machines both internally on your
            own equipment, and in Clouds from several leading vendors.  All at the
            same time.
          </p>
          <p>
            REDUCE YOUR RISK of being caught out whenever your preferred Cloud
            vendor has issues.
          </p>
          <a class='button small' href='get_it.html'>
            How To Use It
          </a>
          <br />
          <br />
        </div>
        <div id='developer_info'>
          <h1>
            <a href='developers.html' style='color: #007EB5; text-decoration: none'>Developer Info</a>
          </h1>
          <h3>Aeolus:</h3>
          <ul>
            <li>Is Open Source</li>
            <li>Is written in Ruby <em>(well, most of it)</em></li>
            <li>
              Runs on Linux
              <br />
              <em>(some parts also work on OSX)</em>
            </li>
            <li>Has a growing Community</li>
            <li>Is sponsored by Red Hat, Inc.</li>
          </ul>
        </div>
      </div>

      <div class='grid_8'>
        <h1>
          <a href='http://blog.aeolusproject.org' style='color: #007EB5; text-decoration: none'>News</a>
        </h1>
        <div id="divRss"></div>
        <script src='js/jquery-FeedEk.js' type='text/javascript'></script>
        <script type='text/javascript'>
        {% include blogroll_feed.js %}
        </script>
      </div>

      <div class='grid_8'>
        <br />
        <script src='http://widgets.twimg.com/j/2/widget.js'></script>
        <script type='text/javascript'>
        {% include twitter.js %}
        </script>
        <br />
      </div>
      <div class='grid_24'>
        <div class='grid_8 alpha'>
          <a class='button small' href='get_it.html'>
            Developers
          </a>
        </div>
        <div class='grid_8 alpha'>
          <a class='button small' href='http://blog.aeolusproject.org'>
            Community
          </a>
        </div>
        <div class='grid_8 omega'>
          <a class='button small' href='contact.html'>
            Contact
          </a>
        </div>
      </div>
    </div>
